@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h1 class="my-5">About the site</h1>
    <p class="fs-4">This website was the final project for the ASP.NET class in our programming course at ATEC. It brought together our love for movies and the need to showcase our knowledge in database creation and its access through a C# app.</p>
    <p class="fs-4">It was important for us to realize how little we knew and to get a sense of the potential of ASP.NET.</p>
    <p class="fs-4">We hope you enjoy it!</p>

    <p class="position-absolute bottom-0 end-0 p-5">By Vasco Silva and Ricardo Ferreira</p>
</main>