@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h1 class="m-5 ">Feel free to contact us with any question and/or sugestion</h1>



    <div class="position-absolute top-50 start-50 translate-middle">
        <strong>Ricardo Ferreira:</strong>   <a href="mailto:ricardo.ferreira.t0123185@atec.edu.com">ricardo.ferreira.t0123185@atec.edu.com</a><br />
        <strong>Vasco Silva:</strong> <a href="mailto:vasco.silva.t0123185@atec.edu.com">vasco.silva.t0123185@atec.edu.com</a>
    </div>
</main>