@model BlogNew.Models.Post

@{
    ViewBag.Title = "Details";
}



<div>
    
   
    






        <h1>
            @Html.DisplayFor(model => model.Title)
        </h1>

 





        <p>
            @Html.DisplayFor(model => model.Content)
        </p>

        <p>Created at</p>

        <p>
            @Html.DisplayFor(model => model.CreatedAt)
        </p>



  
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
