<style>
    .hero {
        margin-block: 5rem;
        background-color: #f5f8fa;
        display: grid;
        place-items: center;
        padding: 5rem;
    }

    .hero-title {
        font-size: 4rem;
        font-weight: bold;
    }
</style>

<main style="max-width:1000px; margin-inline:auto">
    <div class="hero">
        <div class="text-center d-grid gap-3">
            <h1 class="hero-title">M-Log</h1>
            <p class="fs-3 fst-italic">The Citizen Kane of Movie Blogs</p>
        </div>
    </div>
    <h2 class="my-5">No results found.</h2>
</main>

